#logout-btn {
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgb(59, 115, 171);


}

#menu-threshold-sett {
  display: grid;
  gap: 5px;
  padding: 5px;

}

#menu-threshold-sett>div input {
  text-align: center;
}

#threshold-title {
  margin: 15px;
  font-weight: bold;
}

/* Boton Configuracion */
#open-draw {
  top: 40px;
  left: 920px;
  transform: translateY(716px);

}

#draw-back {
  margin: 0 0 0 auto;

}