/* Boton left - Right */
div.switch-container {
  width: 100%;
  transform: translateY(-115px);

  margin-left: -245px;

  /* Alinea elementos a la izquierda */
  /* Empuja el botón hacia la derecha, pero ajusta según tu caso */
}


/*
div.switch-container > div:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

div.switch-container > div:nth-child(1) > div {
  text-align: center;
  margin: 10px;
}

div.switch-container > div:nth-child(1) > div > div {
  width: 70%;
}

div.switch-container > div:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.switch-container > div:nth-child(2) > div:nth-child(1) {
  text-align: right;
} 

.switch-container > div:nth-child(2) > div:nth-child(3) > p:nth-child(1),
.switch-container > div:nth-child(2) > div:nth-child(1) > p:nth-child(1) {
  font-size: 1.5em;
}

.switch-container > div:nth-child(2) > span:nth-child(2) {
  margin: auto;
}*/

.cam-btn-container {
  height: 50px;
  /*oquítalosinoesnecesario*/
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 77px;
  position: relative;
  left: -155px;
  transform: translateX(-50%);
  top: 400px;
  border-radius: 50%;


}



button.cam-btn.active {
  background-color: red;
}

/* Campo de captura imagen */
#canvas-video-container {
  position: absolute;
  /*Ofixed,segúntunecesidad*/
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
  /*Mantieneelajustevertical*/
  width: 1000px;
  overflow: hidden;
  background-color: #1f4e7c;

}

#canvas-video-container {
  pointer-events: none;
  /* Evita interacción accidental */
}

canvas {
  pointer-events: auto;
  /* Permite interactuar con el contenido dentro */
}



#canvas-video-container>video {
  position: absolute;
  z-index: -2;
  min-height: 50vh;
}

#canvas-video-container>canvas {
  width: 100%;
  background-color: transparent;
  display: block;
  z-index: 1;
  /* padding: 25% 0; */
}

#canvas-video-container>img {
  /* display: none; */
  position: absolute;
  z-index: -1;
}

#canvas-video-container>img.hidden {
  display: none;

}